[viewBag]
==
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="breadcrumb-inner padding-top-240">
        {% if this.page.url == '/search' %}
        <h1 class="page-title">Результаты поиска</h1>
        {% else %}
        {% endif %}

        {% if this.page.url == '/blog/:page?' %}
        <h1 class="page-title">Блог</h1>
        {% else %}
        {% endif %}

        {% if this.page.url == '/blog/post/:slug' %}
        <h1 class="page-title">Блог пост</h1>
        {% else %}
        {% endif %}

        {% if this.page.url == '/blog/category/:slug/:page?' %}
        <h1 class="page-title">Блог категории</h1>
        {% else %}
        {% endif %}

        {% if breadcrumbs %}
        <ul class="page-list">
          <li><a href="index.html">Главная</a></li>
          {% for breadcrumb in breadcrumbs %}
          <li class="{{ breadcrumb.isActive ? 'active' : '' }}">
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }} </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb-icon">
  <i class="flaticon-fireworks"></i>
</div>