title = "Контакты"
url = "/contacts"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeTitle[ru] = "Контакты"
localeTitle[kg] = "Байланыштар"
localeUrl[kg] = "/contacts"

[genericForm contactsForm]
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
mail_enabled = 0
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[siteSearchInclude]

[contenteditor]
==
<div class="contact-info-area margin-top-120 margin-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box-style-04 text-center margin-bottom-30">
          <div class="sb-icon">
            <a href="#"><i class="flaticon-phone"></i></a>
          </div>
          <div class="sb-content">
            <h4 class="title">{{'Мы доступны в любое время'|_}}</h4>

            {% for contact in this.theme.contacts %}

            {% if contact.phone1 == true %}
            <span><i class="fa fa-phone"></i>&nbsp; (+996) {{contact.phone1}}</span> <br>
            {% else %}
            {% endif %}

            {% if contact.phone2 == true %}
            <span><i class="fa fa-phone"></i>&nbsp; (+996) {{contact.phone2}}</span> <br>
            {% else %}
            {% endif %}

            {% endfor %}


          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box-style-04 text-center margin-bottom-30">
          <div class="sb-icon">
            <a href="#"><i class="flaticon-sent-mail"></i></a>
          </div>
          <div class="sb-content">
            <h4 class="title">{{'Отправляйте заявки по электронной почте'|_}}</h4>
            {% for contact in this.theme.contacts %}

            {% if contact.user_email1 == true %}
            <span><i class="fa fa-envelope-o"></i>&nbsp; {{contact.user_email1}}</span> <br>
            {% else %}`
            {% endif %}

            {% if contact.user_email2 == true %}
            <span><i class="fa fa-envelope-o"></i>&nbsp; {{contact.user_email2}}</span> <br>
            {% else %}
            {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box-style-04 text-center margin-bottom-30">
          <div class="sb-icon">
            <a href="#"><i class="flaticon-place"></i></a>
          </div>
          <div class="sb-content">
            <h4 class="title">{{'Приходите к нам в офис'|_}}</h4>
            {% for contact in this.theme.contacts %}

            {% if contact.address == true %}
            <span><i class="fa fa-map-marker"></i>&nbsp; {% if activeLocale == 'ru' %}
              {{contact.address}}
              {% else %}
              {{contact.addressKg}}
              {% endif %}</span> <br>
            {% else %}`
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mapouter">
  <div class="gmap_canvas">
    <iframe src="{{this.theme.map}}&amp;hl=en&amp;z=9" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  </div>
</div>

<div class="politx-content-area padding-top-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">

        <form class="contact-form" data-request="{{ contactsForm }}::onFormSubmit">
          <div id="{{ contactsForm }}_forms_flash"></div>
          {{ form_token() }}
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="Имя" placeholder="{{'Ваше имя'|_}}" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="number" name="телефон" placeholder="{{'Ваш телефон'|_}}"
              required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="{{'Ваш email'|_}}" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="comments" name="Комментарий" cols="30" rows="5"
              placeholder="{{'Комментарий'|_}}"></textarea>
          </div>
          <div class="btn-wrapper padding-top-33">
            <button id="simpleContactSubmitButton" type="submit"
              class="btn btn-custom-primary btn-block">{{'Отправить'|_}}</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-self-center">
        <div class="content-box-style-01 margin-top-45">
          {% component 'contenteditor' file="form_text/form_subtitle.htm" class="section-subtitle contacts_subtitle" %}
          {% component 'contenteditor' file="form_text/form_title.htm" fixture="h2" class="title" %}
          {% component 'contenteditor' file="form_text/form_desc.htm" fixture="p" class="para" %}
        </div>
      </div>
    </div>
  </div>
</div>