title = "События"
url = "/events"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeTitle[ru] = "События"
localeTitle[kg] = "Окуялар"
localeUrl[kg] = "/events"

[builderList]
modelClass = "Akmal\Events\Models\Event"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "event-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "asc"

[siteSearchInclude]

==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set currentDate = 'now' | date('Y-m-d') %}

<!-- event box area -->

<div class="event-box-area margin-top-50 padding-bottom-50">
  <div class="container">
    <div class="row">
      <div class="event-box-wrapper col-lg-12">
        <div class="title-left-style margin-bottom-65">
          <p class="section-subtitle">{{'Событие'|_}}</p>
          <h2 class="section-title">{{'Предстоящее событие'|_}}</h2>
        </div>
        <div>
          {% for record in records %}

          {% if record.date >= currentDate %}

          <div class="next-event">
            <div class="img-wrapper">
              <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"
                style="background-image: url({{record.img.path | resize(530, false, { mode: 'crop', quality: '80', extension: 'jpg' })}});">
              </a>
            </div>
            <div class="event-box-content">
              <div class="date-box">
                <span class="date">{{record.date | date('d')}}</span>
                <span class="month">{{record.date | rudate('%BP')}}</span>
              </div>
              <h4>{{record.title}}</h4>
              <ul>
                <li><i class="fa fa-map-marker"></i> {{record.location}}</li>
                <li><i class="fa fa-bell"></i> {{record.date | date('H:i') }}</li>
              </ul>
              <div class="btn-wrapper">
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"
                  class="btn btn-custom-primary">{{'Подробнее'|_}}</a>
              </div>
            </div>
          </div>
          {% else %}

          {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upcoming area -->
<div class="upcoming-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center padding-bottom-55">
          <h2 class="section-title">{{'Предстоящие события'|_}}</h2>
        </div>
      </div>
    </div>

    <div class="events-js">
      {% for record in records %}

      {% if record.date >= currentDate %}

      <div class="upcoming-box">
        <div class="ub-image">
          <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" style="background-image:
              url({{record.img.path | resize(500, false, { mode: 'crop', quality: '80', extension: 'jpg' })}});">
          </a>
        </div>

        <div class="date-box">
          <span class="date">{{record.date | date('d')}}</span>
          <span class="month">{{record.date | rudate('%BP')}}</span>
        </div>

        <div class="ub-content">
          <h4>
            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{record.title}}</a>
          </h4>
          <p><i class="fa fa-map-marker"></i> {{record.location}}</p>
        </div>
      </div>

      {% else %}

      {% endif %}

      {% endfor %}
    </div>

    <div class="btn-wrapper" style="text-align: center;">
      <a href="all-events" class="btn btn-custom-primary">{{'Все события'|_}}</a>
    </div>`

    <div class="record-pagination">
      {% if records.lastPage > 1 %}
      <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr;</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
          <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">&rarr;</a></li>
        {% endif %}
      </ul>
      {% endif %}




    </div>
  </div>
</div>